<h1>Book This Puzzle</h1>
 <div class="container d-flex justify-content-around">
  <%= form_for [@puzzle, @booking] do |f| %>
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
    <%= f.submit %>
  <% end %>
</div>
