<h1>Reviews for <%= link_to @puzzle.name, @puzzle %></h1>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.username %> -
        <em>
          <%= time_ago_in_words(review.created_at) %> ago
        </em>
      </p>
      <p>
        <%= review.comment %>
      </p>
    </li>
  <% end %>
</ul>
