<div class="container">
  <h1>Puzzle Library</h1>
</div>

<div class="container">
  
  <div class="container">
    <%= form_tag puzzles_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a puzzle"%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="cards">
    <% @puzzles.each do |puzzle| %>
      <div class="card" style="width: 18rem;">
        <div class="card-category" style="background-image: url('<%= cl_image_path puzzle.photo.key if puzzle.photo.key %>')">
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= puzzle.name %></h5>
          <p class="card-text"><%= puzzle.pieces.floor %> Pieces &bull; <strong><%= price(puzzle) %></strong></p>
          <%= link_to 'View details', puzzle_path(puzzle), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  
</div>
