<h1>Create New Puzzle</h1>
<%= form_with(model: @puzzle, local: true) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description, rows: 7 %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.submit %>

<% end %>
