
<div class="card-trip">
  <%= cl_image_tag @puzzle.photo.key if @puzzle.photo.key %>
  <div class="card-trip-infos">
    <div>
      <h2><%= @puzzle.name %></h2>
      <p><%= @puzzle.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= @puzzle.price %></h2>
  </div>
</div>

<p><%= link_to 'Back to Puzzles', puzzles_path, class: "btn btn-gradient" %> </p>
<p><%= link_to 'Make Booking', new_puzzle_booking_path(@puzzle), class:"btn btn-gradient" %> </p>

