<h1><%= @puzzle.name %></h1>
<%= cl_image_tag @puzzle.photo.key, height: 350, width: 400, crop: :fill %>
<p><%= @puzzle.price %></p>
<p><%= @puzzle.description %></p>
<p><%= link_to 'Back to Puzzles', puzzles_path %> </p>
