<div class="container-fluid">
  <div class="row">
    <div class="col-lg-7">
      <div class="card-trip d-flex">
        <%= cl_image_tag @puzzle.photo.key if @puzzle.photo.key %>
        <div class="container d-flex flex-column justify-content-between">
          <div class="card-trip-infos">
            <div>
              <h2><%= @puzzle.name %></h2>
              <p>Pieces: <%= @puzzle.pieces.floor %></p>
              <p><%= @puzzle.description %></p>
            </div>
          </div>
            <div class="justify-content-between align-items-center">
            <h2 class="card-trip-pricing d-flex justify-content-end"><%= price(@puzzle) %></h2>
            </div>
        </div>
      </div>
    </div>

    <div class="col-lg-5">
      <div class="card-trip d-flex">
        <div class="form-wrapper" style="width: 450px; margin: 0 auto;">
            <h2 >Book it! </h2>
            <%= simple_form_for [@puzzle, @booking], data: { unavailable_dates: @puzzle.unavailable_dates.to_json } do |f| %>
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.button :submit, "Go", class: "btn btn-primary" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
